<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SkaiciuotuvasTests">
    <test name="Test">
         <classes>
         			
             <class name="Tests.Registracija"> 
				<methods>
					<include name="Registracija"></include> 
				</methods>
			</class>
				<class name="Tests.Registracija"> 
				<methods>
					<include name="Registracija2"></include> 
				</methods>
			</class>
			
         			<class name="Tests.Prisijungimas"> 
				<methods>
					<include name="Prisijungimas"></include> 
				</methods>
			</class>
			
			<class name="Tests.Prisijungimas"> 
				<methods>
					<include name="Prisijungimas2"></include> 
				</methods>
			</class>
			
			<class name="Tests.Atsijungimas"> 
				<methods>
					<include name="Atsijungimas"></include> 
				</methods>
			</class>
			
          </classes>
     </test> 
</suite> 